/* Css for general page layout */
.rootPage {
    position:absolute;
    top:0;
    /* bottom:0; */
    left:0;
    right:0;
    background-color: #27282a;
    background-repeat: repeat;
}

.page {
    position: relative;
    width: 90%;
    max-width: 2160px;
    min-height: 100em;
    /* border-radius: 5px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* margin: 10mm auto; */
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    background-color:#27282a;
    background-size: cover;
    padding: 0mm;
}

.playerContent {
    border: black;
    border-width: 3px;
    border-radius: 200px;
}


/* Css for header */
.header {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.2%;
    position: relative;
    max-height: 300px;
    max-width: 2160px;
    color: white;
}
.backgroundDiv {
    position: relative;
    width: auto;
    height: auto;
    background: url("SDV_bat_header_copy.jpg") no-repeat center center;
    background-size: cover;
    font-style: italic;
    color: #D34215;
}
.placeHolderDiv {
    height: 100px;
    max-height: 300px; 
}

/* Css for player information*/
.playerDropdown {
    width: 35%;
    margin-top: 3%;
    float: left;
    font-style: italic;
}

.playerDropdown2 {
    width: 35%;
    margin-top: 3%;
    float: right;
    font-style: italic;
}

.toggleSwitch {
    width: 7%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    font-style: italic;
    color:#D34215 ;
}

.playerImage {
    width: auto;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
}
.playerImage2 {
    width: auto; 
    float: right;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
}

.playerInformation {
    width: auto;
    float: left; 
    margin-right: 3%;
    margin-top: 4%;
    font-style: italic;
    color: #D34215;

}

.playerInformation2 {
    width: auto;
    float: right; 
    margin-right: 3%;
    margin-top: 4%;
    font-style: italic;
    color: #D34215;
}


/* CSS for the basic table */
.basicTableAndDropdownDiv {
    display: block;
    background-color:#27282a;
    font-style: italic;
    color:#D34215;
    text-align: left;
    width: 100%;
}
.basicTableDropdown {
    width: 100%;
    align-content: center;

    height: 50%;
    float: left;
    font-style: italic;
}
.basicTableDivWrapper {
    width: auto;
    display: inline-block;
    max-height: 1500px;
    width: 100%;
}
.basicTableDiv {
    width: 100%;
    display: inline-block;
}

/* Buttons*/

.Hitting{
    
    color:#D34215;
    margin-right: 5px;
    font-style: italic;
}

.Fielding{
    
    color:#D34215;
    margin-right: 5px;
    font-style: italic;
}

.Pitching{
    
    color:#D34215;
    font-style: italic;
}

.buttonGroup{
    float: left;
    margin-top: 10px;
}