/* Css for general page layout */
.rootPage {
    position:absolute;
    top:0;
    overflow: hidden;
    min-height: 100%;
    left:0;
    right:0;
    background-color: #27282a;
    background-repeat: repeat;
}

.page {
    position: relative;
    width: 90%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    background-color:whitesmoke;
    background-size: cover;
    padding: 0mm;
}

.playerContent {
    border:blue;
    border-width: 3px;
    border-radius: 200px;
}
 .Sectio1 {
    color:black;
    font-style: italic ;
    text-align: center;
}

.SectionHeadline {
    color:black;
    font-style: italic ;
    text-align: center;
}
/* Css for header */
.header {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.2%;
    position: relative;
    max-height: 300px;
    max-width: 2160px;
    color: #0580FF;
}
.backgroundDiv {
    position: relative;
    width: auto;
    height: auto;
    background: url("SDV_bat_header_copy.jpg") no-repeat center center;
    background-size: cover;
    font-style: italic;
    color: #0580FF;
}
.placeHolderDiv {
    height: 100px;
    max-height: 300px; 
}

/* Css for player information*/
.playerDropdown {
    width: 35%;
    margin-top: 3%;
    float: left;
    font-style: italic;
    background:white;
    color:black;
    margin-left: 1%;
}

.playerDropdown2 {
    width: 35%;
    margin-top: 3%;
    float: right;
    font-style: italic;
    margin-right: 1%;
}

.toggleSwitch {
    width: 7%;
    margin-top: 3%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    float: left;
    font-style: italic;
    color:#0580FF;
}

.noplayerleft{
    width: 75%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-style: italic;
    text-align: center;
    
}

.noplayerright{
    width: 120%;
    margin-top: 10%;
    margin-bottom:10% ;
    font-style: italic;
    text-align: center;
}

.playerImage {
    width: auto;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
}
.playerImage2 {
    width: auto; 
    float: right;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
}

.playerInformation {
    width: auto;
    float: left; 
    margin-right: 3%;
    margin-top: 4%;
    font-style: italic;
    color:black;
}

.playerInformation2 {
    width: auto;
    float: right; 
    margin-top: 4%;
    font-style: italic;
    color:black;
}


/* CSS for the basic table */
.basicTableAndDropdownDiv {
    background-color:whitesmoke;
    font-style: italic;
    color:black;
    width: 100%;
    float: left;
    font-size: 13px;
    text-decoration-color: black;
}
.basicTableDropdown {
    width: 98%;
    margin-left: 1%;
    align-content: center;
    height: 50%;
    float: left;
    font-style: italic;
    margin-top: 1%;
}
.basicTableDivWrapper {
    width: 98%;
    margin-left: 1%;
    display: inline-block;
    max-height: 1500px;
    background:whitesmoke;
}
.basicTableDiv {
    width: 100%;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Buttons*/

.Hitting{
    
    color:#0580FF;
    background:lightgray;
    margin-right: 5px;
    width: auto;
    font-style: italic;
    margin-top: 5px;
}
.Hitting:hover{
    background: grey;
}

.Fielding{
    
    color: #0580FF;
    background:lightgray;
    margin-right: 5px;
    font-style: italic;
}
.Fielding:hover{
    background: grey;
}

.Pitching{
    background:lightgray;
    color: #0580FF;
    font-style: italic;
}
.Pitching:hover{
    background: grey;
}

.buttonGroup{
    float: left;
    width: 98%;
    margin-left: 1%;
}

/* Css for individual player information */
.statsWrapper{
    float: left;
    width: 100%;
    margin-bottom: 17em;
}
.playerInfoNotDisplayed{
    display: None;
    text-align: right;
}

.playerInfoDisplayed{
    float: left;
    width: 100%;
}
.individualPlayerInfoButtons{
    width: 100%;
}

.statTypeButtons{
    float: left;
    margin-left: 1%;
    width: 39%;
}
.levelDropdown {
    float: left;
    width: 25%;
    margin-right: 1%;
}
.seasonDropdown {
    float: left;
    width: 25%;
}

.statCategoryButtonGroup{
    float: right;
    margin-right: 1%;
}

.individualPlayerInfoTableDiv{
    font-size: 13px;
    font-style: italic;
    margin: 1%;
}
.filter {
    float: right;
    margin-left: 1%;
    width: 32%;
}
.filterGroup{
    float: right;
    margin-right: 1%;
    width: 59%;
}

/* CSS for Radar Graph */
.radarWrapper{
    float: left;
    width: 100%;
    margin-right: 1%;
}
.radarGraph{
    width: 100%;
    height: 35em;
    background-color:whitesmoke;

}
.noDataPlaceholder{
    float: left;
    width: 100%;
    margin: 1%;
    background-color:whitesmoke;
    margin-bottom: 5em;
    text-align: center;
}
