/* Css for general page layout */
.rootPage {
    position:absolute;
    top:0;
    /* bottom:0; */
    left:0;
    right:0;
    background-color: #27282a;
    background-repeat: repeat;
}

.page {
    position: relative;
    width: 90%;
    max-width: 2160px;
    min-height: 100em;
    /* border-radius: 5px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* margin: 10mm auto; */
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    background-color: white;
    background-size: cover;
    padding: 0mm;
}

.playerContent {
    border: black;
    border-width: 3px;
    border-radius: 200px;
}


/* Css for header */
.header {
    margin-top: 0.2%;
    position: relative;
    max-height: 300px;
    max-width: 2160px;
}
.backgroundDiv {
    position: relative;
    width: auto;
    min-height: ;
    height: auto;
    background: url("SDV_bat_header_copy.jpg") no-repeat center center;
    background-size: cover;
}

/* Css for player information*/
.playerDropdown {
    width: 35%;
    margin-top: 3%;
    margin-left: 1.5%;
    float: left;
}

.playerDropdown2 {
    width: 35%;
    margin-top: 3%;
    margin-right: 1.5%;
    float: right;
}

.toggleSwitch {
    width: 7%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
}

.playerImage {
    width: auto; 
    float: left;
    margin-left: 3%;
    margin-top: 3%;
}
.playerImage2 {
    width: auto; 
    float: right;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
}

.playerInformation {
    width: auto;
    float: left; 
    margin-left: 3%;
    margin-top: 4%;
}

.playerInformation2 {
    width: auto;
    float: right; 
    margin-right: 3%;
    margin-top: 4%;
}


/* CSS for the basic table */
.basicTableAndDropdownDiv {
    display: block;
}
.basicTableDropdown {
    width: 70%;
    float: left;
}
.basicTableDivWrapper {
    width: auto;
    display: inline-block;
}
.basicTableDiv {
    width: auto;
    display: inline-block;
}